body{
  font-family: "Roboto", "Arial", sans-serif;
  color: #505F98;
}

.container{
  margin: 0 auto;
  max-width: 1110px;
}
a{
  text-decoration: none;
  color: #505F98;
}
li{
  display: block;
}
p{
  margin: 0;
}
button{
  border: 0;
}
